// #f16718
// #ff9b62
// #162542
// #7b8bad
// #e8eff2
// #ffffff
// font-family: 'Barlow', sans-serif;

@mixin btn {
    font-size: .9rem;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.7;
}


h1 {
    font-size: 2.3rem;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    overflow: hidden;
}

h2 {
    font-size: 1.8rem;
    font-weight: 900;
    margin: 0 auto;
    text-transform: uppercase;
    width: 60%;
}

h3 {
    font-size: 1.4rem;
    font-weight: 900;
    margin: 50px auto 15px;
    text-transform: uppercase;
}


.navigation {
    display: flex;
    justify-content: space-between;
    margin: 25px auto 0;
    padding: 0 25px 0;
}

.pre-order-btn {
    @include btn();
    background-color: #e8eff2;
}

.pre-order-btn:hover {
    background-color: #162542;
    color: #ffffff;
    transition: all .4s;
}

.header {
    margin: 40px 0 0;
    padding-left: 25px;
}

.header-text {
    padding: 0 15px 0;
}

.header-des {
    color: #7b8bad;
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 25px;
    padding: 0 5px 5px 0;
}

.second-btn-row {
    margin: 0 auto;
    padding: 10px 0 0;
}

.pre-order-btn-orange {
    @include btn();
    background-color: #f16718;
    color: #ffffff;
    font-weight: 600;
}

.pre-order-btn-orange:hover {
    background-color: #ff9b62;
    color: #ffffff;
    transition: all .4s;
}

.release-date {
    color: #7b8bad;
    font-size: .9rem;
    font-weight: 700;
    margin-left: 30px;
    padding: 10px;
    text-transform: uppercase;
}

.main-keyboard {
    margin-right: -15px;
    padding-left: 15px;
}

.mobile-keyboard {
    border-radius: 20px;
    width: 100%;
}

.sub-keyboard {
    display: flex;
    flex-direction: row;
    padding: 20px 0 50px;
}

.mobile-phone {
    display: block;
    margin: 0 10px 0 -20px;
}

.mobile-phone-img {
    border-radius: 20px;
    width: 100%;
}

.mobile-glass {
    margin: 0 20px 0 10px;
}

.mobile-glasskeyboard {
    border-radius: 20px;
    width: 100%;
}

.tablet-keyboard,
.desktop-keyboard,
.tablet-phone,
.desktop-phone, 
.tablet-glass,
.desktop-glass,
.square-top,
.square-mid {
    display: none;
}

.mid-container {
    text-align: center;
    p {
        color: #7b8bad;
        font-size: .9rem;
        margin: 20px auto 0;
        width: 80%;
    }
}

.bottom-container {
    margin-top: 100px;
    text-align: center;

    img {
        background-color: #f16718;
        border-radius: 10px;
        padding: 18px;
    }

    p {
        color: #7b8bad;
        font-size: .9rem;
        margin: 0 auto;
        width: 80%;
    }
}


.icons-section {
    margin-top: 80px;
}


footer {
    color: #7b8bad;
    margin: 100px 0 50px;
    text-align: center;
    span {
        font-weight: 600;
    }
}


@media screen and (min-width: 560px){
    

    h1 {
        line-height: 1;
    }

    h2 {
        margin: 0 auto;
        padding: 5px;
        width: 50%;
    }

    h3 {
        margin-left: 0;
    }

    .navigation {
        margin: 50px 0 0;
        padding: 0 35px 0;
    }

    .header {
        display: flex;
        margin: 50px 0 0;
    }
    .header-text {
        padding: 0 0 0 15px;
    }

    .second-btn-row {
        padding: 15px 3px 3px 0;
    }

    .pre-order-btn-orange {
        padding: 13px;
    }

    .mobile-keyboard, 
    .mobile-phone,
    .mobile-glass {
        display: none;
    }

    .header-text {
        flex: 0 0 50%;
        margin: 0 auto;
    }

    .main-keyboard {
        flex: 0 0 50%;
        margin: 0 -80px 0 0;
    }

    .tablet-keyboard {
        border-radius: 20px;
        display: block;
        width: 100%;
    }

    .sub-keyboard {
        padding: 50px 35px;
    }

    .tablet-phone {
        display: block;
        margin: 0 15px 0 0;
    }

    .tablet-phone-img {
        border-radius: 20px;
        width: 100%;
    }

    .tablet-glass {
        display: block;
        margin: 0 0 0 15px;
    }

    .tablet-glasskeyboard {
        border-radius: 20px;
        display: block;
        width: 100%;
    }

    .mid-container {
        display: flex;
        padding: 0 35px;
        text-align: left;

        p {
            padding: 5px;
        }
    }

    .bottom-container {
        text-align: left;
    }

    .icons-section {
        flex: 0 0 50%;
        padding: 0 0 0 55px;
        width: 50%;

        p {
            margin-left: 0;
        }
    }

}

@media screen and (min-width: 950px) {

    h2 {
        width: 100%;
        padding-left: 0;
        margin: 0;
    }

    h3 {
        margin: 0 10px 20px 0;
        padding: 0;
        width: 100%;
    }

    main {
        display: flex;
        margin-top: 80px;
    }

    .navigation {
        padding: 0 130px 0;
    }

    .header {
       margin: 80px 0 0;
       display: flex;
       padding: 0 0 0 150px;
    }

    .header-text {
        flex: 0 0 35%;
        margin: auto 0;
        padding: 20px 0;
    }

    .second-btn-row {
        padding: 15px 0 1px;
    }

    .release-date {
        margin: 0 0 0 5px;
    }

    .tablet-keyboard,
    .tablet-phone,
    .tablet-glass {
        display: none;
    }


    .main-keyboard {
        margin: 0 30px;
    }

    .desktop-keyboard {
        border-radius: 20px;
        display: block;
        flex: 0 0 35%;
    }

    .square-top {
        display: block;
        flex: 0 0 20%;
        margin: 0 -50% 0 0;
    }

    .square-mid {
        border-radius: 20px;
        display: block;
        flex:  0 0 20%;
        margin: auto 30px 0 -120px;
    }

    .desktop-phone{
        display: block;
        margin: 0 15px 0 0
    }

    .desktop-phone-img {
        border-radius: 20px;
        width: 100%;
    }
    
    .desktop-glass {
        display: block;
        margin: 0 0 0 15px;
    }

    .desktop-glasskeyboard {
        border-radius: 20px;
        width: 100%;
    }

    .sub-keyboard {
        flex: 0 0 55%;
        padding: 0;
    }

    .mid-container {
        flex: 0 0 25%;
        flex-direction: column;
        margin: auto 0;
        padding: 0 0 0 50px;
        
        p{
            margin: 20px 0 0;
            padding: 0;
            width: 100%;
        }
    }

    .bottom-container {
        padding: 0 130px;
    }

    .icons-section {
        flex: 0 0 25%;
        padding: 0 15px;

        img {
            height: 60px;
            margin-bottom: 60px;
        }

        p {
            width: 100%;
        }
    }
    
}





